<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <title>List of types</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="${title}">Liste des types</h1>

        <div class="action">
            <a th:href="@{/type/create}">Add new Type</a>
        </div>

        <table th:unless="${#lists.isEmpty(types)}">
            <thead>
            <th>Id</th>
            <th>Type</th>
            </thead>
            <tbody>
            <tr th:each="type: ${types}">
                <td th:text="${type.id}">1</td>
                <td th:text="${type.type}">Compositeur</td>
                <td><a th:href="@{/type/{id}(id=${type.id})}">View</a></td>
                <td><a th:href="@{/type/{id}/edit(id=${type.id})}">Edit</a></td>
                <td>
                    <form th:id="|deleteForm-${type.id}|" th:action="@{/type/{id}(id=${type.id})}" th:method="delete">
                        <a href="#" th:onclick="|if(confirm('Confirm delete type #${type.id}')) document.getElementById('deleteForm-${type.id}').submit(); return false;|">
                            Delete
                        </a>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>