<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Update an artist</title>
    <style>
        .fieldError { color: red; }
    </style>
</head>
<body>
<div class="container">
    <div id="notification" th:replace="~{main :: notification}"></div>
    <div layout:fragment="content">
        <h1 th:text="|${artist.firstname} ${artist.lastname}|">Bob Sull</h1>

        <form th:action="@{/artist/{id}/edit(id=${artist.id})}" th:object="${artist}" th:method="put">
            <div>
                <label>Id:</label>
                <span th:text="${artist.id}">1</span>
            </div>
            <div>
                <label>Firstname:</label>
                <input type="text" th:field="*{firstname}">
                <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <label>Lastname:</label>
                <input type="text" th:field="*{lastname}">
                <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" th:errorclass="fieldError"></p>
            </div>
            <div>
                <button type="submit" th:text="Update">Update</button>
                <button type="reset" th:text="Reset">Reset</button>
                <a th:href="${back}">Back</a>
            </div>
        </form>

        <nav><a th:href="@{/artists}"> Back to the index</a></nav>
    </div>
</div>
</body>
</html>