<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5;url=/shows">
    <title>Paiement Accepté</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <div class="message-box">
        <h1>Paiement Accepté</h1>
        <p>Merci, votre paiement a été traité avec succès.</p>
        <a th:href="@{/shows}" class="back-button">Retour à la liste des spectacles</a>
    </div>
</div>
</body>
</html>
